.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleQuestion {
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  justify-content: space-around;
  border: 5px solid grey;
  padding: 20px;
  margin-top: 10px;
}




.options {
  width: 600px;
  display: flex;
  /* flex-wrap: wrap; */

  /* align-items: left; */
  /* justify-content: space-around; */
  /* margin: 10px; */
  flex-direction: column;
  align-self: normal
}

.singleOption {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  /* margin: 10px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  box-shadow: 0 0 2px black;

}

.singleOptionDiv{
   width: 100%;
  height: 50px;
  /* padding: 15px 20px; */
  /* margin: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* box-shadow: 0 0 2px black; */
 
 align-self: normal
}


@media (max-width: 614px) {
  .singleOption {
    width: 100%;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
}

.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

.optionSelected{
  background-color: rgb(76, 76, 76);
  color: white;
  box-shadow: 0 0 1px black;
}


.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}


table {
  border: 1px solid rgb(0, 0, 0);
 width: 100%;
}
  
th {
  border-bottom: 1px solid black;
  height: 60px;
}
  
td {
  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
}